{% extends 'base.html' %}

{% block content %}
<h2>The Vision</h2>
<pre> A shared vision of improving peoples lives through digital technologies pulls us together.
Our team is composed of passionate and innovative students from Northwestern University with diverse backgrounds in consulting, computer science engineering, information technology and communications. Sensitive towards the most cutting-edge trends in this digital era, we are perennially curious about peoples hidden motivations and strive to develop the best products to meet peoples existing and potential demands.</pre>


<b>Rawan - Developer </b>
<pre>Beside coding, Rawan is interested in entrepreneurship, innovation and creativity. She believes that technology can solve or improve most of the worlds issues and therefore it should be open to all use. According to her, everyone should be able express their creativity in technology. Technology is an ART!</pre>

<b>Di Yang - Content Strategist</b>
<pre>With interests in sociology and arts, Di has great passion to improve peoples life quality and create happiness. She has experiences in communications, but she is also a fan of digital marketing and believes in the power of big data. In her eyes, technology is a tool that shapes the way people live, work, and socialize, and she wants to seize the best part of it!  </pre>

<b>Asha Vaidyanath - Designer & Business Person</b>
<pre>Besides concocting ideas to creatively solve problems, Asha likes to apply original thoughts into real life and see what chemistry is produced. A booklover with a keen interest in film photography, she is curious and sensitive to the little details in people's life. </pre>
<b>Sung Hee Kim: Developer </b>
<pre>Currently an undergraduate in Northwestern McCormick school of engineering, Sung has great interests in technology and business. His experiences in Accenture and the Bank of New York Mellon help build up his expertise in programming. With the belief that technology can be both smart and fun, he wants to deliver real cool products!  </pre>

<b>Kirti Marharwal - Designer </b>
<pre>A fan of cooking and photography, Kirti is passionate in seeking experiences that enrich her life - and she believes that, with the power of information technology, she can help people have a wonderful life story too. Currently, her interest lies in improving user experiences and providing creative solutions. With rich experiences in programming, she is ready to take on the route.  </pre>
{% endblock %}
