div.slogan {
    color:white;
    margin:0px;
    pading:0px;
    opacity:100;
    position:relative;
    z-index:1;
    width:50%;
    margin-top:8rem;
    text-align: left;
}

section.home {
	height: 60rem;
	position: relative;
	z-index: 0;
	overflow: hidden;
	background: url('../images/landingpage.jpg') no-repeat scroll center center / cover transparent;
}
header{
	position: relative;
	border-bottom:1px solid #dedede;
}


img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

header #logo-wrapper {
	margin-top: 25px;
	margin-bottom: 25px;
	z-index: 1;
}

header #logo-wrapper-other {
  margin-top: 15px;
  margin-bottom: 15px;
  z-index: 1;
}

#logo-wrapper-other img{
  margin-left: -40px !important;
  margin-top: -10px !important;
}



.form-signin-heading {
	color: black;
}

#form-signin input{
	width: 70%;
}

div.landingPageImage{
	background-image: url('../images/landingpage.jpg')
}

body.forKipNav {
    padding-top: 100px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

#homeBody {
    padding-top: 80px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

body {
	padding-top: 90px;
}


img.friend {
	width: 110px; 
	height: 110px;
	margin: 0px auto;
	display:block;
}

/* use this class to center a div inside another div */
div.center {
	width: 50%;
	margin: 0 auto;
}

div.center {
	width: 50%;
	margin: 0 auto;
}

.navbar-xs {
	min-height:28px; 
	height: 28px; 
} 

a.navbar-xs-link {
	padding: 4px 15px!Important;
}

span.tag {
	color: green;
}

div.sender {
	color: blue;
	text-align: right;
}


