/**
	App Specific custom settings
*/
body {
	background-color: #ffffff !important;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
	color: #444444;
	font-size: 18px;
	overflow: scroll;
}

::selection {
	background: #c9554d;
	color: #ffffff;
}


header{
	position: relative;
	border-bottom:1px solid #dedede;
}

header #logo-wrapper {
	margin-top: 25px;
	margin-bottom: 25px;
	z-index: 1;
}

header #logo-wrapper-other {
  margin-top: 15px;
  margin-bottom: 15px;
  z-index: 1;
}

#logo-wrapper-other img{
  margin-left: -30px !important;
  margin-top: -10px !important;
}

#commonHeader .navbar-nav > li{
  padding: 12px 0 !important;
}

header .navbar-default .navbar-collapse {
	box-shadow: none;
}

header nav.navbar-default {
	background-color: #ffffff;
}

.signout, header .navbar-default .navbar-nav>li>a {
	color: #000;
}

.signout, .senderBtn {
     background:none!important;
     border:none!important; 
    /*border is optional*/
     border-bottom:1px solid #444; 
     cursor: pointer;
     text-decoration:none!important;
     
}

.signout{
	font-size: 24px;
	letter-spacing: 1px;
}

.senderBtn{
	color: black;
}

.signout:focus, .senderBtn:focus{
	outline:0;
}

.senderBtn:hover, .signout:hover, header nav.navbar-default .navbar-nav li > a:focus, header nav.navbar-default .navbar-nav li > a:hover {
	color: #fb8342;
}

header nav.navbar-default .navbar-nav li.current-menu-item > a:before, header nav.navbar-default .navbar-nav li > a:hover:before {
	content: url("../images/icon-bl.png");
	position: absolute;
	left: 0px;
	top: 10px;
	color: #fb8342;
}

.signout:hover:after, .navbar-left .navbar-nav li > a:hover:after, .navbar-left .navbar-nav li >a.active:after {
	content: url("../images/icon-br.png");
	position: absolute;
	right: -5px;
	top: 0px;	
}


.signout:hover:before, .navbar-left .navbar-nav li > a:hover:before, .navbar-left .navbar-nav li >a.active:before {
	content: url("../images/icon-bl.png");
	position: absolute;
	left: -5px;
	top: 0px;
}

.navbar-left{
	margin-left: -15px;
	padding-left: -15px;	
}

.navbar-left .navbar-nav {
	padding-left: 0px;
	margin: 0;
}

.navbar-left .navbar-nav li > a{
	background-color: #ffffff;
	padding: 5px;
	padding: 5px;	
	font-size: 18px !important;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

a:hover, .navbar-left .navbar-nav li > a:hover, .navbar-left .navbar-nav li >a.active{
	color: #fb8342;
}

.navbar-nav>li>a {
	color: #000;
}


header nav.navbar-default .navbar-nav li.current-menu-item > a:after, header nav.navbar-default .navbar-nav li > a:hover:after {
	content: url("../images/icon-br.png");
	position: absolute;
	right: 0px;
	top: 10px;
}

header nav.navbar {
	margin: 0;
}

header .navbar-nav {
	width: 100%;
	text-align: right;
}

header .navbar-nav > li {
	margin: 0 10px;
	padding: 30px 0;
	float: none;
	display: inline-block;
}

a {
	color: #000000;
}

a, a:hover, a:focus {
	text-decoration: none;
	transition: all 0.2s linear;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.button.filled {
	background-color: rgba(0,0,0,0.4);
	color: #fff;
}

.button {
	text-transform: uppercase;
	display: inline-block;
	padding: 8px 30px;
	border: 2px solid #fb8342;
	font-size: 14px;
	line-height: 24px;
	-o-transition: color .2s ease-out, background .2s ease-in;
	-ms-transition: color .2s ease-out, background .2s ease-in;
	-moz-transition: color .2s ease-out, background .2s ease-in;
	-webkit-transition: color .2s ease-out, background .2s ease-in;
	transition: color .2s ease-out, background .2s ease-in;
	color: #444444;
	margin: 10px 0 25px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
}

.filled:hover {
	background-color: #fb8342 !important;
	color: #fff !important;
}

.landingBG{
	background-image: url('../images/landingpage.jpg');
	-webkit-background-size: cover; 
	background-size: cover; 
	background-color: rgb(35, 40, 43); 
	background-position: center center; 
	background-repeat: no-repeat;
	
}

.page{
	width: 100%;
	min-height: 640px;
}


div.overlay{
	position: absolute;
    top: 20;
  	left: 0;
  	margin: 0 0;
  	z-index: 10;
  	background-color: rgba(0,0,0,0.5); 
}

div.mainSlogan{
	text-align: center; 
	font-family: 'belindaregular', Helvetica; 
	font-weight: normal;
	font-size: 70px; color: rgb(255, 255, 255); 
	line-height: 72px; 
	text-transform: lowercase; 
	letter-spacing: 0px; 
	height:65%; 
	display: table;
	width: 100%;
}

.mainSlogan div{
	height: 100%;
}

#rightSloganBracket{
	position: relative;
    top: 150px;
    left: -160px;
}

#sloganHolder{
	position: relative;
	top: 150px;
	text-align: center;
}


#leftSloganBracket{
	position: relative;
    top: 150px;
    right:-160px;
}


div.center{
	text-align:center;
	width: 100%;
}

div.btn-toolbar.center {
  width: 50%;
  margin: 0 auto;
  display: none; 
}

div.sender {
  color: blue;
  text-align: right;
}

.tableCell{
	display: table-cell;
}

.forKipNav {
    padding-top: 30px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

img.friend {
  width: 110px; 
  height: 110px;
  margin: 0px auto;
  display:block;
}

.msgTitle{
	padding-top: 10px;	
	text-transform: capitalize;
	font-size: 16px;
	color: black;
	display: block;
}

.msg{	
	color: black;
	font-size: 16px;
	border-radius: 10px;
	display: block;
	text-align: right;
	margin: 0 0 1em;	
}

.msg span{
	background: #f9d835 !important;
	padding: 0.5em 2em;
	border-radius: 10px;
	background-repeat: no-repeat;
	display: inline-block;
	line-height: 1.5em;
	text-align: justify;
}

#timelineHeader{
	margin:20px 0 -20px;
}


.cd-container{
	padding-top: 20px!important;
}

.msgHolder iframe{
	height: 15em!important;
}

.msgHolder{
	border: solid 1px;
	border-color: rgb(244, 242, 242);
	margin: 5px;
	height: 25em;
	overflow-y: scroll;
	width: 32%;
}

/**
#menu-primary-menu {
	font-family: 'Tommaso';
}
*/