<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
	
		your friends are 
		<ul>
		<% for(var i=0; i< id.length; i++) { %>
		<li> <%=id[i]%>  <%=name[i]%> </li>
		<% } %>
		</ul>
		
	</body>
</html>