<!DOCTYPE html>
<html><head>
    <title>TINCAN</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- CSS Files comes here -->
    <!--link href="signin.css" rel="stylesheet"-->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <!--link href="css/bootstrap.css" rel="stylesheet" media="screen"-->
    <link href="stylesheets/kip.css" rel="stylesheet">
</head><body>
    
  
    <!--###############################-->
    <!--NAVIGATION ####################-->
    <!--###############################-->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">TINCAN</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TINCAN</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" method="post" action="/home">
            <div class="form-group">
              <input type="email" name="email" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="pass" placeholder="Password" class="form-control">
            </div>
            <button type="submit" name="commit"  value="Login" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    


    <!--###############################-->
    <!--HOME ##########################-->
    <!--###############################-->
    <section class="home">
       <div class="container">
            <div class="row">
                <div class ="slogan col-sm-4">
                    <h1>Enabling clutter-free,  
                        personal conversations.</h1>
                    <form id="form-signin">
                        
                        <div class="form-group"> 
                            <input type="name" id="inputName" class="form-control" placeholder="Full Name" required autofocus>
                        </div>

                        <div class="form-group"> 
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus></input>
                        </div>

                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control" required autofocus>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Request Access</button>
                        </div>
                    </form>
                </div>
            </div>
       </div>       
    </section> 



 
               <!-- /container -->
  <!-- 
                 <img src="http://app.fiveminutejournal.com/images/homescreen@2x.png" class="img-responsive animated fadeInUp" id="home_image" alt="img" width="731" height="586">
            
     </div>
    </div> -->
    
    
    
    
    <!--###############################-->
    <!--ABOUT #########################-->
    <!--###############################-->
    
    <!--
    <section id="about">
        <div class="container">
            
            <div class="row animated fadeInDown" id="about_intro">
                <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                    
                    <h2>POSITIVITY MEETS <strong>SCIENCE</strong></h2>
                    <h6>The Five Minute Journal is built with proven<br>
                    principles of positive psychology.
                    </h6>
                    
                </div>
            </div>
            
            <div class="row">
                
                <div class="col-sm-4 col-md-4 col-lg-4 animated fadeInDown" id="service_1">
                    <img src="http://app.fiveminutejournal.com/images/mindset.jpg" alt="img">
                    <h6>Prime Your Brain</h6>
                </div>
                
                <div class="col-sm-4 col-md-4 col-lg-4 animated fadeInDown" id="service_2">
                    <img src="http://app.fiveminutejournal.com/images/focus.jpg" alt="img">
                        <h6>Cultivate Gratitude</h6>
                </div>
                
                <div class="col-sm-4 col-md-4 col-lg-4 animated fadeInDown" id="service_3">
                    <img src="http://app.fiveminutejournal.com/images/growth3.jpg" alt="img">
                        <h6>Growth Mindset</h6>
                </div>
                
            </div>
    
        </div>
    </section>
    
    -->

    <!--Arrows-->
    <!--
    <section class="arrows_box">
    <div class="arrows">
        <svg viewBox="0 0 32 32" class="arrow_down" id="about_arrow_next">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right-arrow"></use></svg>
        <svg viewBox="0 0 32 32" class="arrow_up" id="about_arrow_back">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#left-arrow"></use></svg>
    </div>
    </section>
   
   ######-->


    <!--###############################-->
    <!--Features 1 ####################-->
    <!--###############################-->
    <!--
    <section id="features_1">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6  col-lg-6">
                  <img src="http://app.fiveminutejournal.com/images/features1b@2x.png" class="img-responsive image_back animated fadeInRight" id="features1a_image" alt="img" width="555" height="585">
                  <img src="http://app.fiveminutejournal.com/images/features1a@2x.png" class="img-responsive image_front animated fadeInRight" id="features1b_image" alt="img" width="585" height="617">
                </div>
                
                <div class="col-sm-6 col-md-6 col-lg-6 animated fadeInDown" id="features_1_content">
                    <h2>HELPS YOU FOCUS ON THE <strong>GOOD</strong></h2>
                    <h6>Years of research on positive psychology now made easy &amp; fun in 5 minutes a day
                    </h6>
                    <div class="feature">
                        <img src="http://app.fiveminutejournal.com/images/icon1@2x.png" class=" feature_icon" alt="img" width="38" height="38">
                        <div>
                            <h4>Daily inspirational quotes</h4>
                            <p>You'll love waking up to a wonderful new quote everyday.</p>
                        </div>
                    </div>
                    
                    <div class="feature">
                        <img src="http://app.fiveminutejournal.com/images/icon2@2x.png" class=" feature_icon" alt="img" width="38" height="38">
                            <div>
                            <h4>Wake up with Gratitude</h4>
                            <p>Scientifically proven, just starting your day by writing down three things you are grateful for can change your day for the better
</p>
                        </div>
                    </div>


                </div>
                
            </div>
            
        </div>
       
    </section>
    -->
    <!--Arrows-->

    <!--
    <section class="arrows_box">
        <div class="arrows">
            <svg viewBox="0 0 32 32" class="arrow_down" id="features_1_arrow_next">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right-arrow"></use></svg>
            <svg viewBox="0 0 32 32" class="arrow_up" id="features_1_arrow_back">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#left-arrow"></use></svg>
        </div>
    </section>

-->
    <!--######-->
    

    <!--###############################-->
    <!--Features 2 ####################-->
    <!--###############################-->

<!--
    <section id="features_2">
        <div class="container">
            <div class="row">
                
                <div class="col-sm-6 col-md-6 col-lg-6 animated fadeInDown" id="features_2_content">
                    <h2>CAPTURE YOUR MAGICAL MOMENTS</h2>
                    <h6>Snap and collect daily images of the amazing things that happen to you. Every day.
                    </h6>
                    <div class="feature">
                        <img src="http://app.fiveminutejournal.com/images/icon3@2x.png" class=" feature_icon" alt="img" width="38" height="38">
                        <div>
                            <h4>One photo a day</h4>
                            <p>A photo that best captures the highlight <br>of your day.</p>
                        </div>
                    </div>
                    
                    <div class="feature">
                        <img src="http://app.fiveminutejournal.com/images/icon4@2x.png" class=" feature_icon" alt="img" width="38" height="38">
                        <div>
                            <h4>Daily Reflection</h4>
                            <p>When you record three amazing things that happened in your day, you'll find yourself feeling better about the day and experiencing deeper sleep.</p>
                        </div>
                    </div>
                    
                </div>
                
                
                <div class="col-sm-6 col-md-6  col-lg-6">
                    <img src="http://app.fiveminutejournal.com/images/features2b@2x.png" class="img-responsive image_back animated fadeInLeft" id="features2a_image" alt="img" width="555" height="585">
                    <img src="http://app.fiveminutejournal.com/images/features2a@2x.png" class="img-responsive image_front animated fadeInLeft" id="features2b_image" alt="img" width="585" height="617">
                </div>

            </div>
            
        </div>
        
    </section>

-->
    <!--Arrows
    <section class="arrows_box arrows_no_border">
        <div class="arrows">
            <svg viewBox="0 0 32 32" class="arrow_down" id="features_2_arrow_next">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right-arrow"></use></svg>
            <svg viewBox="0 0 32 32" class="arrow_up" id="features_2_arrow_back">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#left-arrow"></use></svg>
        </div>
    </section>
    -->

    <!--######-->


    <!--###############################-->
    <!--Features 3 ####################-->
    <!--###############################-->

<!-- 
    <section id="features_3">
        <div class="container">
            <div class="row animated fadeInDown" id="features_3_intro">
                <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                    <h2>A TOOTHBRUSH FOR YOUR <strong>MIND</strong></h2>
                    <h6>Do it every morning and every night to have a clear and positive mind.
                    </h6>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-4 col-md-4 ol-lg-4 animated fadeInUp" id="features_3_content_left">
                    
                    <div class="feature">
                        <h4>Passcode lock</h4>
                        <p>Keep your journal private<br>by adding a password.
                        </p>
                    </div>
                    
                    <div class="feature">
                        <h4>Reminders</h4>
                        <p>The app will remind you<br>to do your journal<br>in the morning<br>and the evening.
                        </p>
                    </div>
                    
                </div>
            
                <div class="col-sm-4 col-md-4 ol-lg-4 animated fadeInDown" id="features_3_content_center">
                    <img src="http://app.fiveminutejournal.com/images/features3@2x.png" class="img-responsive" id="features3_image" alt="img" width="360" height="579">
                </div>

                <div class="col-sm-4 col-md-4 ol-lg-4 animated fadeInUp" id="features_3_content_right">
                    
                    <div class="feature">
                        <h4>Auto Backups</h4>
                        <p>Your records are always backed<br>up and safe in your iCloud.
                        </p>
                    </div>
                    
                    <div class="feature">
                        <h4>Sharing</h4>
                        <p>Share your entries<br>and quotes via Email,<br>Facebook, Twitter,<br>Instagram, and more.
                        </p>
                    </div>
                    
                </div>
           
            </div>
            
        </div>
    </section>

-->


    <!--Arrows - version with custom background color to match section above-->
    <!--
    <section class="arrows_box arrows_box_bg arrows_no_border">
        <div class="arrows">
            <svg viewBox="0 0 32 32" class="arrow_down" id="features_3_arrow_next">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right-arrow"></use></svg>
            <svg viewBox="0 0 32 32" class="arrow_up" id="features_3_arrow_back">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#left-arrow"></use></svg>
        </div>
    </section>
-->
    <!--######-->


    <!--###############################-->
    <!--Gallery #######################-->
    <!--###############################-->
<!--
    <section id="gallery">
        <div class="container">
            <div class="row animated fadeInDown" id="gallery_intro">
                <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                    
                    <h2>SCREENSHOT GALLERY</h2>
                    <h6>Discover the Five Minute Journal App.
                    </h6>
                    
                </div>
            </div>
            
            <div class="row animated fadeInUp" id="gallery_carousel">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div id="owl-gallery" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                        <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 2880px; left: 0px; display: block; -webkit-transition: all 0ms ease; transition: all 0ms ease;"><div class="owl-item" style="width: 144px;"><div class="item"><a href="images/gallery1_big.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/gallery1@2x.jpg"><img src="http://app.fiveminutejournal.com/images/gallery1@2x.jpg" class="img-responsive img-rounded" alt="img" width="190" height="247"></a></div></div><div class="owl-item" style="width: 144px;"><div class="item"><a href="images/gallery2_big.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/gallery2@2x.jpg"><img src="http://app.fiveminutejournal.com/images/gallery2@2x.jpg" class="img-responsive img-rounded" alt="img" width="190" height="247"></a></div></div><div class="owl-item" style="width: 144px;"><div class="item"><a href="images/gallery3_big.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/gallery3@2x.jpg"><img src="http://app.fiveminutejournal.com/images/gallery3@2x.jpg" class="img-responsive img-rounded" alt="img" width="190" height="247"></a></div></div><div class="owl-item" style="width: 144px;"><div class="item"><a href="images/gallery4_big.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/gallery4@2x.jpg"><img src="http://app.fiveminutejournal.com/images/gallery4@2x.jpg" class="img-responsive img-rounded" alt="img" width="190" height="247"></a></div></div><div class="owl-item" style="width: 144px;"><div class="item"><a href="images/gallery5_big.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/gallery5@2x.jpg"><img src="http://app.fiveminutejournal.com/images/gallery5@2x.jpg" class="img-responsive img-rounded" alt="img" width="190" height="247"></a></div></div><div class="owl-item" style="width: 144px;"><div class="item"><a href="images/gallery6_big.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/gallery6@2x.jpg"><img src="http://app.fiveminutejournal.com/images/gallery6@2x.jpg" class="img-responsive img-rounded" alt="img" width="190" height="247"></a></div></div><div class="owl-item" style="width: 144px;"><div class="item"><a href="images/gallery7_big.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="http://app.fiveminutejournal.com/images/gallery7@2x.jpg"><img src="http://app.fiveminutejournal.com/images/gallery7@2x.jpg" class="img-responsive img-rounded" alt="img" width="190" height="247"></a></div></div><div class="owl-item" style="width: 144px;"><div class="item"><a href="http://app.fiveminutejournal.com/images/gallery8_big.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/gallery8@2x.jpg"><img src="http://app.fiveminutejournal.com/images/gallery8@2x.jpg" class="img-responsive img-rounded" alt="img" width="190" height="247"></a></div></div><div class="owl-item" style="width: 144px;"><div class="item"><a href="http://app.fiveminutejournal.com/images/gallery9_big.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/gallery9@2x.jpg"><img src="http://app.fiveminutejournal.com/images/gallery9@2x.jpg" class="img-responsive img-rounded" alt="img" width="190" height="247"></a></div></div><div class="owl-item" style="width: 144px;"><div class="item"><a href="images/gallery10_big.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/gallery10@2x.jpg"><img src="http://app.fiveminutejournal.com/images/gallery10@2x.jpg" class="img-responsive img-rounded" alt="img" width="190" height="247"></a></div></div></div></div>
                        
                        
                        
                        
                        
                        
                        
                        
                        
                    <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div></div>
                </div>
            </div>
            
        </div>
    </section>
    
    -->
    <!--Arrows - single arrow wersion-->

    <!--
    <section class="arrows_box">
        <div class="arrow_single">
            <svg viewBox="0 0 32 32" class="arrow_up" id="gallery_arrow_back">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#left-arrow"></use></svg>
        </div>
    </section>
-->
    <!--######-->
    
    
    <!--###############################-->
    <!--Newsletter and Footer #########-->
    <!--###############################-->
    
    <!--
    <section id="footer">
        <div class="container">
            <div class="row" id="newsletter">
                <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                    
                    <h2>SUBSCRIBE TO OUR NEWSLETTER</h2>
                    <h6>For great resources and upcoming feature launches.
                    </h6>
                    
                    <div id="newsletter_form">
                        <form action="php/send.php" method="post" class="subscribe-form" id="subscribe-form">
                            <input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required="">
                                <button type="submit" class="subscribe-submit">Notify Me</button>
                        </form>
                    </div>
                    <div id="preview"></div>
                    
                </div>
            </div>
           
           <div class="row" id="share">
               <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                   
                   <div id="social_icons">
                       <ul>
                           
                           <li><svg viewBox="0 0 32 32" id="tw_icon" onclick="location.href='http://www.twitter.com/5minutejournal '"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></li>
                           <li><svg viewBox="0 0 32 32" id="fb_icon" onclick="location.href='http://www.facebook.com/fiveminutejournal '"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></li>
                           
                           
                           
                        
                       </ul>
                       
                   </div>

                   
     
               </div>
               <div class="col-sm-4 col-md-4 col-lg-4">
                   <a href="https://itunes.apple.com/us/app/5-min-journal/id822934482?ls=1&amp;mt=8"><img src="http://app.fiveminutejournal.com/images/appstore.png" id="appstore" alt="img"></a>
               </div>
           </div>
           <h6>Copyright 2014 Intelligent Change Inc.</h6>
        </div>
    </section>    
-->
   </body></html>
