
<!DOCTYPE html>
<html><head>
    <title>bookmarklet login</title>
    
    
    <!-- CSS Files comes here -->
    <link href="stylesheets/loginExtn.css" rel="stylesheet">

</head>
	<body>
        <div class="wrapper2">
            <form class="form-signin2">       
                <h2 class="form-signin-heading2">Please login</h2>
                <input type="text" class="form-control2" name="username" placeholder="Email Address" required="" autofocus="" />
                <input type="password" class="form-control2" name="password" placeholder="Password" required=""/>      
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
            </form>
        </div>
	</body>

</html>