<!DOCTYPE html>
<html><head>
    <title>Make Room</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- CSS Files comes here -->
    <!--link href="signin.css" rel="stylesheet"-->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <!--link href="css/bootstrap.css" rel="stylesheet" media="screen"-->
    <link href="stylesheets/kip.css" rel="stylesheet">



  
    <!-- Included CSS Files -->
    <link rel="stylesheet" href="http://thisisstory.com/wp-content/themes/semantic/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="http://thisisstory.com/wp-content/themes/semantic/stylesheets/bootstrap-custom.css">

<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="initial-scale=1; maximum-scale=10.0; width=device-width; "/>
    <link rel="icon" type="image/png" href="">
        <title>STORY</title>
  
    <!-- Included CSS Files -->
    <link rel="stylesheet" href="http://thisisstory.com/wp-content/themes/semantic/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="http://thisisstory.com/wp-content/themes/semantic/stylesheets/bootstrap-custom.css">
    <link rel="stylesheet" href="http://thisisstory.com/wp-content/themes/semantic/stylesheets/fp_2.css">
    <link rel="stylesheet" href="http://thisisstory.com/wp-content/themes/semantic/stylesheets/bootstrap-shortcodes.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://thisisstory.com/wp-content/themes/semantic/style.css">
    <link rel="stylesheet" href="http://thisisstory.com/wp-content/themes/semantic/stylesheets/media-queries.css">
    <link rel="stylesheet" href="http://thisisstory.com/wp-content/themes/semantic/stylesheets/classic-white.css"> 
    
    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
<!-- SEO Ultimate (http://www.seodesignsolutions.com/wordpress-seo/) -->
    <meta name="description" content="This NYC retail concept founded by Rachel Shechtman takes the viewpoint of a magazine, changes every 4-8 weeks like a gallery, and sells a rotating mix of products for men, women, kids, and the home." />
    <meta property="og:type" content="blog" />
    <meta property="og:title" content="STORY" />
    <meta property="og:description" content="This NYC retail concept founded by Rachel Shechtman takes the viewpoint of a magazine, changes every 4-8 weeks like a gallery, and sells a rotating mix of products for men, women, kids, and the home.  " />
    <meta property="og:url" content="http://thisisstory.com/" />
    <meta property="og:image" content="http://thisisstory.com/wp-content/uploads/2014/11/bPBgj1l8vQkl6Rejbuchz91NNt4ZdwY-qNeHNLafvZA.jpeg" />
    <meta property="og:site_name" content="STORY" />
    <meta name="twitter:card" content="summary" />
<!-- /SEO Ultimate -->

<link rel="alternate" type="application/rss+xml" title="STORY &raquo; Feed" href="http://thisisstory.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="STORY &raquo; Comments Feed" href="http://thisisstory.com/comments/feed/" />
<link rel='stylesheet' id='events-manager-css'  href='http://thisisstory.com/wp-content/plugins/events-manager/includes/css/events_manager.css?ver=5.55' type='text/css' media='all' />
<link rel='stylesheet' id='swipeBox-css-css'  href='http://thisisstory.com/wp-content/themes/semantic/stylesheets/swipebox.css?ver=4.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='ot-dynamic-dynamic_user_css-css'  href='http://thisisstory.com/wp-content/themes/semantic/dynamic.css?ver=2.2.0' type='text/css' media='all' />
<link rel='stylesheet' id='jetpack_css-css'  href='http://thisisstory.com/wp-content/plugins/jetpack/css/jetpack.css?ver=3.3' type='text/css' media='all' />
<script type='text/javascript' src='http://thisisstory.com/wp-includes/js/jquery/jquery.js?ver=1.11.1'></script>
<script type='text/javascript' src='http://thisisstory.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='http://thisisstory.com/wp-includes/js/jquery/ui/core.min.js?ver=1.11.2'></script>
<script type='text/javascript' src='http://thisisstory.com/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.2'></script>
<script type='text/javascript' src='http://thisisstory.com/wp-includes/js/jquery/ui/position.min.js?ver=1.11.2'></script>
<script type='text/javascript' src='http://thisisstory.com/wp-includes/js/jquery/ui/mouse.min.js?ver=1.11.2'></script>
<script type='text/javascript' src='http://thisisstory.com/wp-includes/js/jquery/ui/sortable.min.js?ver=1.11.2'></script>
<script type='text/javascript' src='http://thisisstory.com/wp-includes/js/jquery/ui/datepicker.min.js?ver=1.11.2'></script>
<script type='text/javascript' src='http://thisisstory.com/wp-includes/js/jquery/ui/menu.min.js?ver=1.11.2'></script>
<script type='text/javascript' src='http://thisisstory.com/wp-includes/js/jquery/ui/autocomplete.min.js?ver=1.11.2'></script>
<script type='text/javascript' src='http://thisisstory.com/wp-includes/js/jquery/ui/resizable.min.js?ver=1.11.2'></script>
<script type='text/javascript' src='http://thisisstory.com/wp-includes/js/jquery/ui/draggable.min.js?ver=1.11.2'></script>
<script type='text/javascript' src='http://thisisstory.com/wp-includes/js/jquery/ui/button.min.js?ver=1.11.2'></script>
<script type='text/javascript' src='http://thisisstory.com/wp-includes/js/jquery/ui/dialog.min.js?ver=1.11.2'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var EM = {"ajaxurl":"http:\/\/thisisstory.com\/wp-admin\/admin-ajax.php","locationajaxurl":"http:\/\/thisisstory.com\/wp-admin\/admin-ajax.php?action=locations_search","firstDay":"1","locale":"en","dateFormat":"dd\/mm\/yy","ui_css":"http:\/\/thisisstory.com\/wp-content\/plugins\/events-manager\/includes\/css\/ui-lightness.css","show24hours":"0","is_ssl":"","bookingInProgress":"Please wait while the booking is being submitted.","tickets_save":"Save Ticket","bookingajaxurl":"http:\/\/thisisstory.com\/wp-admin\/admin-ajax.php","bookings_export_save":"Export Bookings","bookings_settings_save":"Save Settings","booking_delete":"Are you sure you want to delete?","bb_full":"Sold Out","bb_book":"Book Now","bb_booking":"Booking...","bb_booked":"Booking Submitted","bb_error":"Booking Error. Try again?","bb_cancel":"Cancel","bb_canceling":"Canceling...","bb_cancelled":"Cancelled","bb_cancel_error":"Cancellation Error. Try again?","txt_search":"Search","txt_searching":"Searching...","txt_loading":"Loading...","cache":""};
/* ]]> */
</script>
<script type='text/javascript' src='http://thisisstory.com/wp-content/plugins/events-manager/includes/js/events-manager.js?ver=5.55'></script>
<script type='text/javascript' src='http://thisisstory.com/wp-content/plugins/events-manager-pro/includes/js/events-manager-pro.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://thisisstory.com/wp-content/themes/semantic/javascripts/bootstrap.min.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://thisisstory.com/wp-content/themes/semantic/javascripts/jquery.easing.min.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://thisisstory.com/wp-content/themes/semantic/javascripts/isotope.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://thisisstory.com/wp-content/themes/semantic/javascripts/wow.min.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://thisisstory.com/wp-content/themes/semantic/javascripts/t_ago.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://thisisstory.com/wp-content/themes/semantic/javascripts/jquery.swipebox.min.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://thisisstory.com/wp-content/themes/semantic/javascripts/scripts.js?ver=4.1.1'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://thisisstory.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://thisisstory.com/wp-includes/wlwmanifest.xml" /> 

<link rel='shortlink' href='http://wp.me/5he7A' />
        <style type="text/css">
        .em-booking-form span.form-tip { text-decoration:none; border-bottom:1px dotted #aaa; padding-bottom:2px; }
        .input-group .em-date-range input { width:100px; }
        .input-group .em-time-range input { width:80px; }
         div.em-gateway-buttons { height:50px; width: 100%; }
         div.em-gateway-buttons .first { padding-left:0px; margin-left:0px; border-left:none; }
         div.em-gateway-button { float:left; padding-left:20px; margin-left:20px; border-left:1px solid #777; }
        /* Cart CSS */
        .em-cart-widget-content .em-cart-widget-total { border-top:1px solid #efefef; margin-top:5px; }
        .em-cart-actions { text-align:right; margin:10px 0px;}
         /* Checkout Form CSS */
        .em-cart-table { border-collapse:collapse; border-spacing:0; width:100%; }       
        .em-cart-table { border-collapse:0px; }
        .em-cart-table th, table.em-cart-table td { border:1px solid #efefef; padding:10px; }
        .em-cart-table th { background-color:#eee; text-align:center; }
        .em-cart-table td { background-color:#fff; }
        .em-cart-table th.em-cart-title-event { text-align:left; }
        .em-cart-table tbody.em-cart-totals th { text-align:right; padding-right:20px; }
        .em-cart-table .em-cart-table-details-hide { display:none; visibility:none; }
        .em-cart-table .em-cart-table-event-details { display:none; visibility:none; }
        .em-cart-table .em-cart-table-event-title { font-weight:bold; }
        .em-cart-table .em-cart-table-spaces { text-align:center; }
        .em-cart-table .em-cart-table-price, tbody.em-cart-totals td { text-align:right; }
        .em-cart-table-event-details .em-cart-table-ticket { font-weight:bold; }
        .em-cart-info .em-cart-info-title { text-decoration:underline; }
        .em-cart-info .em-cart-info-booking-title { font-weight:bold; }
        .em-cart-info .em-cart-info-values label { font-style:italic; display: inline-block; width:150px; }      
        /*! qTip2 v2.0.0 | http://craigsworks.com/projects/qtip2/ | Licensed MIT, GPL */#qtip-rcontainer{position:absolute;left:-28000px;top:-28000px;display:block;visibility:hidden}#qtip-rcontainer .ui-tooltip{display:block!important;visibility:hidden!important;position:static!important;float:left!important}.ui-tooltip,.qtip{position:absolute;left:-28000px;top:-28000px;display:none;max-width:280px;min-width:50px;font-size:10.5px;line-height:12px}.ui-tooltip-content{position:relative;padding:5px 9px;overflow:hidden;text-align:left;word-wrap:break-word}.ui-tooltip-titlebar{position:relative;min-height:14px;padding:5px 35px 5px 10px;overflow:hidden;border-width:0 0 1px;font-weight:700}.ui-tooltip-titlebar+.ui-tooltip-content{border-top-width:0!important}.ui-tooltip-titlebar .ui-state-default{position:absolute;right:4px;top:50%;margin-top:-9px;cursor:pointer;outline:medium none;border-width:1px;border-style:solid}* html .ui-tooltip-titlebar .ui-state-default{top:16px}.ui-tooltip-titlebar .ui-icon,.ui-tooltip-icon .ui-icon{display:block;text-indent:-1000em;direction:ltr}.ui-tooltip-icon,.ui-tooltip-icon .ui-icon{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;text-decoration:none}.ui-tooltip-icon .ui-icon{width:18px;height:14px;text-align:center;text-indent:0;font:normal bold 10px/13px Tahoma,sans-serif;color:inherit;background:transparent none no-repeat -100em -100em}.ui-tooltip-focus{}.ui-tooltip-hover{}.ui-tooltip-default{border-width:1px;border-style:solid;border-color:#F1D031;background-color:#FFFFA3;color:#555}.ui-tooltip-default .ui-tooltip-titlebar{background-color:#FFEF93}.ui-tooltip-default .ui-tooltip-icon{border-color:#CCC;background:#F1F1F1;color:#777}.ui-tooltip-default .ui-tooltip-titlebar .ui-state-hover{border-color:#AAA;color:#111}/*! Light tooltip style */.ui-tooltip-light{background-color:#fff;border-color:#E2E2E2;color:#454545}.ui-tooltip-light .ui-tooltip-titlebar{background-color:#f1f1f1}/*! Dark tooltip style */.ui-tooltip-dark{background-color:#505050;border-color:#303030;color:#f3f3f3}.ui-tooltip-dark .ui-tooltip-titlebar{background-color:#404040}.ui-tooltip-dark .ui-tooltip-icon{border-color:#444}.ui-tooltip-dark .ui-tooltip-titlebar .ui-state-hover{border-color:#303030}/*! Cream tooltip style */.ui-tooltip-cream{background-color:#FBF7AA;border-color:#F9E98E;color:#A27D35}.ui-tooltip-cream .ui-tooltip-titlebar{background-color:#F0DE7D}.ui-tooltip-cream .ui-state-default .ui-tooltip-icon{background-position:-82px 0}/*! Red tooltip style */.ui-tooltip-red{background-color:#F78B83;border-color:#D95252;color:#912323}.ui-tooltip-red .ui-tooltip-titlebar{background-color:#F06D65}.ui-tooltip-red .ui-state-default .ui-tooltip-icon{background-position:-102px 0}.ui-tooltip-red .ui-tooltip-icon{border-color:#D95252}.ui-tooltip-red .ui-tooltip-titlebar .ui-state-hover{border-color:#D95252}/*! Green tooltip style */.ui-tooltip-green{background-color:#CAED9E;border-color:#90D93F;color:#3F6219}.ui-tooltip-green .ui-tooltip-titlebar{background-color:#B0DE78}.ui-tooltip-green .ui-state-default .ui-tooltip-icon{background-position:-42px 0}/*! Blue tooltip style */.ui-tooltip-blue{background-color:#E5F6FE;border-color:#ADD9ED;color:#5E99BD}.ui-tooltip-blue .ui-tooltip-titlebar{background-color:#D0E9F5}.ui-tooltip-blue .ui-state-default .ui-tooltip-icon{background-position:-2px 0}.ui-tooltip-shadow{-webkit-box-shadow:1px 1px 3px 1px rgba(0,0,0,.15);-moz-box-shadow:1px 1px 3px 1px rgba(0,0,0,.15);box-shadow:1px 1px 3px 1px rgba(0,0,0,.15)}.ui-tooltip-rounded,.ui-tooltip-tipsy,.ui-tooltip-bootstrap{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}.ui-tooltip-youtube{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 0 3px #333;-moz-box-shadow:0 0 3px #333;box-shadow:0 0 3px #333;color:#fff;border-width:0;background:#4A4A4A;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #4A4A4A),color-stop(100%,black));background-image:-webkit-linear-gradient(top, #4A4A4A 0,black 100%);background-image:-moz-linear-gradient(top, #4A4A4A 0,black 100%);background-image:-ms-linear-gradient(top, #4A4A4A 0,black 100%);background-image:-o-linear-gradient(top, #4A4A4A 0,black 100%)}.ui-tooltip-youtube .ui-tooltip-titlebar{background-color:#4A4A4A;background-color:rgba(0,0,0,0)}.ui-tooltip-youtube .ui-tooltip-content{padding:.75em;font:12px arial,sans-serif;filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#4a4a4a, EndColorStr=#000000);-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#4a4a4a, EndColorStr=#000000);"}.ui-tooltip-youtube .ui-tooltip-icon{border-color:#222}.ui-tooltip-youtube .ui-tooltip-titlebar .ui-state-hover{border-color:#303030}.ui-tooltip-jtools{background:#232323;background:rgba(0,0,0,.7);background-image:-webkit-gradient(linear,left top,left bottom,from( #717171),to( #232323));background-image:-moz-linear-gradient(top, #717171, #232323);background-image:-webkit-linear-gradient(top, #717171, #232323);background-image:-ms-linear-gradient(top, #717171, #232323);background-image:-o-linear-gradient(top, #717171, #232323);border:2px solid #ddd;border:2px solid rgba(241,241,241,1);-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 0 12px #333;-moz-box-shadow:0 0 12px #333;box-shadow:0 0 12px #333}.ui-tooltip-jtools .ui-tooltip-titlebar{background-color:transparent;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171, endColorstr=#4A4A4A);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171, endColorstr=#4A4A4A)"}.ui-tooltip-jtools .ui-tooltip-content{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A, endColorstr=#232323);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A, endColorstr=#232323)"}.ui-tooltip-jtools .ui-tooltip-titlebar,.ui-tooltip-jtools .ui-tooltip-content{background:transparent;color:#fff;border:0 dashed transparent}.ui-tooltip-jtools .ui-tooltip-icon{border-color:#555}.ui-tooltip-jtools .ui-tooltip-titlebar .ui-state-hover{border-color:#333}.ui-tooltip-cluetip{-webkit-box-shadow:4px 4px 5px rgba(0,0,0,.4);-moz-box-shadow:4px 4px 5px rgba(0,0,0,.4);box-shadow:4px 4px 5px rgba(0,0,0,.4);background-color:#D9D9C2;color:#111;border:0 dashed transparent}.ui-tooltip-cluetip .ui-tooltip-titlebar{background-color:#87876A;color:#fff;border:0 dashed transparent}.ui-tooltip-cluetip .ui-tooltip-icon{border-color:#808064}.ui-tooltip-cluetip .ui-tooltip-titlebar .ui-state-hover{border-color:#696952;color:#696952}.ui-tooltip-tipsy{background:#000;background:rgba(0,0,0,.87);color:#fff;border:0 solid transparent;font-size:11px;font-family:'Lucida Grande',sans-serif;font-weight:700;line-height:16px;text-shadow:0 1px black}.ui-tooltip-tipsy .ui-tooltip-titlebar{padding:6px 35px 0 10;background-color:transparent}.ui-tooltip-tipsy .ui-tooltip-content{padding:6px 10}.ui-tooltip-tipsy .ui-tooltip-icon{border-color:#222;text-shadow:none}.ui-tooltip-tipsy .ui-tooltip-titlebar .ui-state-hover{border-color:#303030}.ui-tooltip-tipped{border:3px solid #959FA9;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background-color:#F9F9F9;color:#454545;font-weight:400;font-family:serif}.ui-tooltip-tipped .ui-tooltip-titlebar{border-bottom-width:0;color:#fff;background:#3A79B8;background-image:-webkit-gradient(linear,left top,left bottom,from( #3A79B8),to( #2E629D));background-image:-webkit-linear-gradient(top, #3A79B8, #2E629D);background-image:-moz-linear-gradient(top, #3A79B8, #2E629D);background-image:-ms-linear-gradient(top, #3A79B8, #2E629D);background-image:-o-linear-gradient(top, #3A79B8, #2E629D);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8, endColorstr=#2E629D);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8, endColorstr=#2E629D)"}.ui-tooltip-tipped .ui-tooltip-icon{border:2px solid #285589;background:#285589}.ui-tooltip-tipped .ui-tooltip-icon .ui-icon{background-color:#FBFBFB;color:#555}.ui-tooltip-bootstrap{font-size:13px;line-height:18px;color:#333;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);*border-right-width:2px;*border-bottom-width:2px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box}.ui-tooltip-bootstrap .ui-tooltip-titlebar{font-size:18px;line-height:22px;border-bottom:1px solid #ccc;background-color:transparent}.ui-tooltip-bootstrap .ui-tooltip-titlebar .ui-state-default{right:9px;top:49%;border-style:none}.ui-tooltip-bootstrap .ui-tooltip-icon{background:#fff}.ui-tooltip-bootstrap .ui-tooltip-icon .ui-icon{width:auto;height:auto;float:right;font-size:20px;font-weight:700;line-height:18px;color:#000;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20)}.ui-tooltip-bootstrap .ui-tooltip-icon .ui-icon:hover{color:#000;text-decoration:none;cursor:pointer;opacity:.4;filter:alpha(opacity=40)}.ui-tooltip:not(.ie9haxors) div.ui-tooltip-content,.ui-tooltip:not(.ie9haxors) div.ui-tooltip-titlebar{filter:none;-ms-filter:none}.ui-tooltip .ui-tooltip-tip{margin:0 auto;overflow:hidden;z-index:10}.ui-tooltip .ui-tooltip-tip,.ui-tooltip .ui-tooltip-tip .qtip-vml{position:absolute;line-height:.1px!important;font-size:.1px!important;color:#123456;background:transparent;border:0 dashed transparent}.ui-tooltip .ui-tooltip-tip canvas{top:0;left:0}.ui-tooltip .ui-tooltip-tip .qtip-vml{behavior:url(#default#VML);display:inline-block;visibility:visible}#qtip-overlay{position:fixed;left:-10000em;top:-10000em}#qtip-overlay.blurs{cursor:pointer}#qtip-overlay div{position:absolute;left:0;top:0;width:100%;height:100%;background-color:#000;opacity:.7;filter:alpha(opacity=70);-ms-filter:"alpha(Opacity=100)"}
        </style>
                <style type="text/css">
            .em-coupon-code { width:150px; }
            #em-coupon-loading { display:inline-block; width:16px; height: 16px; margin-left:4px; background:url(http://thisisstory.com/wp-content/plugins/events-manager-pro/includes/images/spinner.gif)}
            .em-coupon-message { display:inline-block; margin:5px 0px 0px 105px; text-indent:22px; }
            .em-coupon-success { color:green; background:url(http://thisisstory.com/wp-content/plugins/events-manager-pro/includes/images/success.png) 0px 0px no-repeat }
            .em-coupon-error { color:red; background:url(http://thisisstory.com/wp-content/plugins/events-manager-pro/includes/images/error.png) 0px 0px no-repeat }
            .em-cart-coupons-form .em-coupon-message{ margin:5px 0px 0px 0px; }
            #em-coupon-loading { margin-right:4px; }    
        </style>
        <style type='text/css'>img#wpstats{display:none}</style>




    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60206441-1', 'auto');
  ga('send', 'pageview');

</script>

             
  
    <!--###############################-->
    <!--NAVIGATION ####################-->
    <!--###############################-->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"></span>
            </head><body>

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
 

         <!--  <a class="navbar-brand" href="#">TINCAN</a>  -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">


        <div id="logo-wrapper" class="col-md-9 col-sm-12 col-xs-24">
             <a class="navbar-brand" href="#">
                                <img  alt="Brand" src="../images/logomakeroom.gif">
             </a>
                                     
        </div> 


          <form class="navbar-form navbar-right" method="post" action="/home">
            <div class="form-group">
              <input type="email" name="email" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="pass" placeholder="Password" class="form-control">
            </div>
            <button type="submit" name="commit"  value="Login" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    


    <!--###############################-->
    <!--HOME ##########################-->
    <!--###############################
    <section class="home">
       <div class="container">
            <div class="row">
                <div class ="slogan col-sm-4">
                    <h1>Enabling clutter-free,  
                        personal conversations.</h1>
                    <form id="form-signin">
                        
                        <div class="form-group"> 
                            <input type="name" id="inputName" class="form-control" placeholder="Full Name" required autofocus>
                        </div>

                        <div class="form-group"> 
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus></input>
                        </div>

                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control" required autofocus>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Request Access</button>
                        </div>
                    </form>
                </div>
            </div>
       </div>       
    </section> 

-->





<body class="home blog">

</ul></div>             </nav>
            </div>
        </div>
    </header>

  

  <!-- Wrapper 1  -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full" style="background-color: rgb(35, 40, 43); position: relative; margin: 0 0 45px;">
    <tbody><tr mc:repeatable>
            <td style="background-image: url('../images/landingpage.jpg'); -webkit-background-size: cover; background-size: cover; background-color: rgb(35, 40, 43); background-position: center center; background-repeat: no-repeat;"class="headerBG" id="BGheaderChange">
        <div mc:hideable>
            <!-- DOTS! -->
        <div class="overlay">
      <div style="position: absolute;top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.4);"></div>     

            <div style="display:none;" class="dots">
                <div class="dot1" style="display: none; height: 0px; width: 0px;"></div>
                <div class="dot2" style="display: none; height: 0px; width: 0px;"></div>
                <div class="dot3" style="display: none; height: 0px; width: 0px;"></div>
                <div class="dot4" style="display: none; height: 0px; width: 0px;"></div>
                <div class="dot5" style="display: none; height: 0px; width: 0px;"></div>
                <div class="dot6" style="display: none; height: 0px; width: 0px;"></div>
                <div class="dot7" style="display: none; height: 0px; width: 0px;"></div>
                <div class="dot8" style="display: none; height: 0px; width: 0px;"></div>
                <div class="dot9" style="display: none; height: 0px; width: 0px;"></div>
                <div class="dot10" style="display: none; height: 0px; width: 0px;"></div>
            </div>
            <!-- End DOTS -->
        
            <!-- Wrapper -->
            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile" style="position: relative; z-index: 3;">
                <tbody><tr>
                    <td width="100%">
                    
                        
                        <div class="sortable_inner ui-sortable">
                        <!-- Start Header -->
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full" object="drag-module-small">
                            <tbody><tr>
                                <td width="100%" height="50" class="h30"></td>
                            </tr>
                        </tbody></table><!-- End Header Text -->
                        </div>
                        
                        <div class="sortable_inner ui-sortable">
                        <!-- Start Header -->
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full" object="drag-module-small">
                            <tbody><tr>
                                <td width="100%" height="50"></td>
                            </tr>
                            <tr>
                                <td width="100%" valign="middle">
                                    
                                    <!-- Header Text --> 
                                    <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter">
                                        <tbody><tr>
                                            <td valign="middle" width="100%" style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 20px; color: rgb(255, 255, 255); line-height: 30px;" class="fullCenter"mc:edit="4">
                                            
                                                <!--[if !mso]><!--><span style="font-family: 'Open Sans', Helvetica; font-weight: normal;"><!--<![endif]--><!--[if !mso]><!--></span><!--<![endif]-->
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="100%" height="15"></td>
                                        </tr>
                                    </tbody></table>
                                                                    
                                </td>
                            </tr>
                        </tbody></table><!-- End Header Text -->
                        </div>
                        
                        <div class="sortable_inner ui-sortable">
                        <!-- Start Header -->
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full" object="drag-module-small">
                            <tbody><tr>
                                <td width="100%" valign="middle">
                                    
                                    <!-- Header Text --> 
                                    <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter">
                                        <tbody><tr>
                                            <td width="100%" height="20"></td>
                                        </tr>
                                        <tr>
                                            <td valign="middle" width="100%">
                                            <table style="margin: 0 auto;">
                                                <tr>
                                                <td>
                                                  <img src="http://story.milkandpixels.com/wp-content/uploads/2014/10/bracket.png" height="auto" alt="" border="0" st />
                                                </td>
                                                <td style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 70px; color: rgb(255, 255, 255); line-height: 72px; font-weight: bold; text-transform: uppercase; letter-spacing: 0px; " class="fontSmall" mc:edit="5">
                                                    <!--[if !mso]><!--><span style="font-family: 'belindaregular', Helvetica; font-weight: normal; text-transform: lowercase;"><!--<![endif]-->Who are you <br/> making room for? <!--[if !mso]><!--></span><!--<![endif]-->
                                                </td>
                                                <td>
                                                    <img src="http://story.milkandpixels.com/wp-content/uploads/2014/10/bracket-right.png" height="auto" alt="" border="0" accesskey=""/>
                                                </td>
                                                </tr>
                                            </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="100%" height="25"></td>
                                        </tr>
                                    </tbody></table>
                                                                    
                                </td>
                            </tr>
                        </tbody></table><!-- End Header Text -->
                        </div>
                        
                        <div class="sortable_inner ui-sortable">
                        <!-- Start Header -->
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full" object="drag-module-small">
                            <tbody><tr>
                                <td width="100%" valign="middle">
                                    
                                    <!-- Header Text --> 
                                    <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter">
                                        <tbody><tr>
                                            <td width="100%" height="25"></td>
                                        </tr>
                                        <!----------------- Button Center ----------------->
                                        <tr>
                                            <td align="center">
                                                <table border="0" cellpadding="0" cellspacing="0" align="center"> 
                                                    <tbody><tr> 
                                                        <td align="center" height="48">
                                                            <!--[if !mso]><!--><span style="font-family: 'Open Sans', Helvetica; font-weight: normal;"><!--<![endif]-->
                                                                <a href="http://thisisstory.com/stories/what-comes-next" class="button filled">Read more</a>
                                                            <!--[if !mso]><!--></span><!--<![endif]-->
                                                        </td> 
                                                    </tr> 
                                                </tbody></table> 
                                            </td>
                                        </tr>
                                        <!----------------- End Button Center ----------------->
                                        <tr>
                                            <td width="100%" height="25"></td>
                                        </tr>
                                    </tbody></table>
                                                                    
                                </td>
                            </tr>
                        </tbody></table><!-- End Header Text -->
                        </div>
                        
                        <div class="sortable_inner ui-sortable">
                        <!-- Start Header -->
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full" object="drag-module-small">
                            <tbody><tr>
                                <td width="100%" valign="middle">
                                    
                                    <!-- Header Text --> 
                                    <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter">
                                        <tbody><tr>
                                            <td width="100%" height="75"></td>
                                        </tr>
                                    </tbody></table>
                                                                    
                                </td>
                            </tr>
                        </tbody></table><!-- End Header Text -->
                        </div>
                        
                    </td>
                </tr>
            </tbody></table><!-- End Wrapper -->
            
            </div>
        </div>
        </td>
    </tr>
</tbody></table><!-- End Wrapper 1 -->

    
    <!-- Begin main-content -->
    <div id="main-content">     
<!-- Containing contents to fixed width -->
<div class="container">

    <!-- Row for main content area -->
    <div class="row">
    
    </div>
    <!-- Row ends -->

</div>
<!-- Container ends -->
        
    
</div>
<!-- #main-content -->
    
<!-- Footer -->
</footer>
<!-- Footer -->

<!-- Ending boxed layout if present -->

    <div style="display:none">
    </div>
<div id="su-footer-links" style="text-align: center;"></div><script type='text/javascript' src='http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201509'></script>
<script type='text/javascript' src='http://s.gravatar.com/js/gprofiles.js?ver=2015Febaa'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var WPGroHo = {"my_hash":""};
/* ]]> */
</script>
<script type='text/javascript' src='http://thisisstory.com/wp-content/plugins/jetpack/modules/wpgroho.js?ver=4.1.1'></script>

    <script src="http://stats.wp.com/e-201509.js" type="text/javascript"></script>
    <script type="text/javascript">
    st_go({v:'ext',j:'1:3.3',blog:'77987542',post:'0',tz:'0'});
    var load_cmc = function(){linktracker_init(77987542,0,2);};
    if ( typeof addLoadEvent != 'undefined' ) addLoadEvent(load_cmc);
    else load_cmc();
    </script>   


















 
               <!-- /container -->
  <!-- 
                 <img src="http://app.fiveminutejournal.com/images/homescreen@2x.png" class="img-responsive animated fadeInUp" id="home_image" alt="img" width="731" height="586">
            
     </div>
    </div> -->
    
    
    
    
    <!--###############################-->
    <!--ABOUT #########################-->
    <!--###############################-->
    
    <!--
    <section id="about">
        <div class="container">
            
            <div class="row animated fadeInDown" id="about_intro">
                <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                    
                    <h2>POSITIVITY MEETS <strong>SCIENCE</strong></h2>
                    <h6>The Five Minute Journal is built with proven<br>
                    principles of positive psychology.
                    </h6>
                    
                </div>
            </div>
            
            <div class="row">
                
                <div class="col-sm-4 col-md-4 col-lg-4 animated fadeInDown" id="service_1">
                    <img src="http://app.fiveminutejournal.com/images/mindset.jpg" alt="img">
                    <h6>Prime Your Brain</h6>
                </div>
                
                <div class="col-sm-4 col-md-4 col-lg-4 animated fadeInDown" id="service_2">
                    <img src="http://app.fiveminutejournal.com/images/focus.jpg" alt="img">
                        <h6>Cultivate Gratitude</h6>
                </div>
                
                <div class="col-sm-4 col-md-4 col-lg-4 animated fadeInDown" id="service_3">
                    <img src="http://app.fiveminutejournal.com/images/growth3.jpg" alt="img">
                        <h6>Growth Mindset</h6>
                </div>
                
            </div>
    
        </div>
    </section>
    
    -->

    <!--Arrows-->
    <!--
    <section class="arrows_box">
    <div class="arrows">
        <svg viewBox="0 0 32 32" class="arrow_down" id="about_arrow_next">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right-arrow"></use></svg>
        <svg viewBox="0 0 32 32" class="arrow_up" id="about_arrow_back">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#left-arrow"></use></svg>
    </div>
    </section>
   
   ######-->


    <!--###############################-->
    <!--Features 1 ####################-->
    <!--###############################-->
    <!--
    <section id="features_1">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6  col-lg-6">
                  <img src="http://app.fiveminutejournal.com/images/features1b@2x.png" class="img-responsive image_back animated fadeInRight" id="features1a_image" alt="img" width="555" height="585">
                  <img src="http://app.fiveminutejournal.com/images/features1a@2x.png" class="img-responsive image_front animated fadeInRight" id="features1b_image" alt="img" width="585" height="617">
                </div>
                
                <div class="col-sm-6 col-md-6 col-lg-6 animated fadeInDown" id="features_1_content">
                    <h2>HELPS YOU FOCUS ON THE <strong>GOOD</strong></h2>
                    <h6>Years of research on positive psychology now made easy &amp; fun in 5 minutes a day
                    </h6>
                    <div class="feature">
                        <img src="http://app.fiveminutejournal.com/images/icon1@2x.png" class=" feature_icon" alt="img" width="38" height="38">
                        <div>
                            <h4>Daily inspirational quotes</h4>
                            <p>You'll love waking up to a wonderful new quote everyday.</p>
                        </div>
                    </div>
                    
                    <div class="feature">
                        <img src="http://app.fiveminutejournal.com/images/icon2@2x.png" class=" feature_icon" alt="img" width="38" height="38">
                            <div>
                            <h4>Wake up with Gratitude</h4>
                            <p>Scientifically proven, just starting your day by writing down three things you are grateful for can change your day for the better
</p>
                        </div>
                    </div>


                </div>
                
            </div>
            
        </div>
       
    </section>
    -->
    <!--Arrows-->

    <!--
    <section class="arrows_box">
        <div class="arrows">
            <svg viewBox="0 0 32 32" class="arrow_down" id="features_1_arrow_next">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right-arrow"></use></svg>
            <svg viewBox="0 0 32 32" class="arrow_up" id="features_1_arrow_back">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#left-arrow"></use></svg>
        </div>
    </section>

-->
    <!--######-->
    

    <!--###############################-->
    <!--Features 2 ####################-->
    <!--###############################-->

<!--
    <section id="features_2">
        <div class="container">
            <div class="row">
                
                <div class="col-sm-6 col-md-6 col-lg-6 animated fadeInDown" id="features_2_content">
                    <h2>CAPTURE YOUR MAGICAL MOMENTS</h2>
                    <h6>Snap and collect daily images of the amazing things that happen to you. Every day.
                    </h6>
                    <div class="feature">
                        <img src="http://app.fiveminutejournal.com/images/icon3@2x.png" class=" feature_icon" alt="img" width="38" height="38">
                        <div>
                            <h4>One photo a day</h4>
                            <p>A photo that best captures the highlight <br>of your day.</p>
                        </div>
                    </div>
                    
                    <div class="feature">
                        <img src="http://app.fiveminutejournal.com/images/icon4@2x.png" class=" feature_icon" alt="img" width="38" height="38">
                        <div>
                            <h4>Daily Reflection</h4>
                            <p>When you record three amazing things that happened in your day, you'll find yourself feeling better about the day and experiencing deeper sleep.</p>
                        </div>
                    </div>
                    
                </div>
                
                
                <div class="col-sm-6 col-md-6  col-lg-6">
                    <img src="http://app.fiveminutejournal.com/images/features2b@2x.png" class="img-responsive image_back animated fadeInLeft" id="features2a_image" alt="img" width="555" height="585">
                    <img src="http://app.fiveminutejournal.com/images/features2a@2x.png" class="img-responsive image_front animated fadeInLeft" id="features2b_image" alt="img" width="585" height="617">
                </div>

            </div>
            
        </div>
        
    </section>

-->
    <!--Arrows
    <section class="arrows_box arrows_no_border">
        <div class="arrows">
            <svg viewBox="0 0 32 32" class="arrow_down" id="features_2_arrow_next">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right-arrow"></use></svg>
            <svg viewBox="0 0 32 32" class="arrow_up" id="features_2_arrow_back">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#left-arrow"></use></svg>
        </div>
    </section>
    -->

    <!--######-->


    <!--###############################-->
    <!--Features 3 ####################-->
    <!--###############################-->

<!-- 
    <section id="features_3">
        <div class="container">
            <div class="row animated fadeInDown" id="features_3_intro">
                <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                    <h2>A TOOTHBRUSH FOR YOUR <strong>MIND</strong></h2>
                    <h6>Do it every morning and every night to have a clear and positive mind.
                    </h6>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-4 col-md-4 ol-lg-4 animated fadeInUp" id="features_3_content_left">
                    
                    <div class="feature">
                        <h4>Passcode lock</h4>
                        <p>Keep your journal private<br>by adding a password.
                        </p>
                    </div>
                    
                    <div class="feature">
                        <h4>Reminders</h4>
                        <p>The app will remind you<br>to do your journal<br>in the morning<br>and the evening.
                        </p>
                    </div>
                    
                </div>
            
                <div class="col-sm-4 col-md-4 ol-lg-4 animated fadeInDown" id="features_3_content_center">
                    <img src="http://app.fiveminutejournal.com/images/features3@2x.png" class="img-responsive" id="features3_image" alt="img" width="360" height="579">
                </div>

                <div class="col-sm-4 col-md-4 ol-lg-4 animated fadeInUp" id="features_3_content_right">
                    
                    <div class="feature">
                        <h4>Auto Backups</h4>
                        <p>Your records are always backed<br>up and safe in your iCloud.
                        </p>
                    </div>
                    
                    <div class="feature">
                        <h4>Sharing</h4>
                        <p>Share your entries<br>and quotes via Email,<br>Facebook, Twitter,<br>Instagram, and more.
                        </p>
                    </div>
                    
                </div>
           
            </div>
            
        </div>
    </section>

-->


    <!--Arrows - version with custom background color to match section above-->
    <!--
    <section class="arrows_box arrows_box_bg arrows_no_border">
        <div class="arrows">
            <svg viewBox="0 0 32 32" class="arrow_down" id="features_3_arrow_next">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right-arrow"></use></svg>
            <svg viewBox="0 0 32 32" class="arrow_up" id="features_3_arrow_back">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#left-arrow"></use></svg>
        </div>
    </section>
-->
    <!--######-->


    <!--###############################-->
    <!--Gallery #######################-->
    <!--###############################-->
<!--
    <section id="gallery">
        <div class="container">
            <div class="row animated fadeInDown" id="gallery_intro">
                <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                    
                    <h2>SCREENSHOT GALLERY</h2>
                    <h6>Discover the Five Minute Journal App.
                    </h6>
                    
                </div>
            </div>
            
            <div class="row animated fadeInUp" id="gallery_carousel">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div id="owl-gallery" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                        <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 2880px; left: 0px; display: block; -webkit-transition: all 0ms ease; transition: all 0ms ease;"><div class="owl-item" style="width: 144px;"><div class="item"><a href="images/gallery1_big.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/gallery1@2x.jpg"><img src="http://app.fiveminutejournal.com/images/gallery1@2x.jpg" class="img-responsive img-rounded" alt="img" width="190" height="247"></a></div></div><div class="owl-item" style="width: 144px;"><div class="item"><a href="images/gallery2_big.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/gallery2@2x.jpg"><img src="http://app.fiveminutejournal.com/images/gallery2@2x.jpg" class="img-responsive img-rounded" alt="img" width="190" height="247"></a></div></div><div class="owl-item" style="width: 144px;"><div class="item"><a href="images/gallery3_big.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/gallery3@2x.jpg"><img src="http://app.fiveminutejournal.com/images/gallery3@2x.jpg" class="img-responsive img-rounded" alt="img" width="190" height="247"></a></div></div><div class="owl-item" style="width: 144px;"><div class="item"><a href="images/gallery4_big.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/gallery4@2x.jpg"><img src="http://app.fiveminutejournal.com/images/gallery4@2x.jpg" class="img-responsive img-rounded" alt="img" width="190" height="247"></a></div></div><div class="owl-item" style="width: 144px;"><div class="item"><a href="images/gallery5_big.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/gallery5@2x.jpg"><img src="http://app.fiveminutejournal.com/images/gallery5@2x.jpg" class="img-responsive img-rounded" alt="img" width="190" height="247"></a></div></div><div class="owl-item" style="width: 144px;"><div class="item"><a href="images/gallery6_big.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/gallery6@2x.jpg"><img src="http://app.fiveminutejournal.com/images/gallery6@2x.jpg" class="img-responsive img-rounded" alt="img" width="190" height="247"></a></div></div><div class="owl-item" style="width: 144px;"><div class="item"><a href="images/gallery7_big.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="http://app.fiveminutejournal.com/images/gallery7@2x.jpg"><img src="http://app.fiveminutejournal.com/images/gallery7@2x.jpg" class="img-responsive img-rounded" alt="img" width="190" height="247"></a></div></div><div class="owl-item" style="width: 144px;"><div class="item"><a href="http://app.fiveminutejournal.com/images/gallery8_big.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/gallery8@2x.jpg"><img src="http://app.fiveminutejournal.com/images/gallery8@2x.jpg" class="img-responsive img-rounded" alt="img" width="190" height="247"></a></div></div><div class="owl-item" style="width: 144px;"><div class="item"><a href="http://app.fiveminutejournal.com/images/gallery9_big.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/gallery9@2x.jpg"><img src="http://app.fiveminutejournal.com/images/gallery9@2x.jpg" class="img-responsive img-rounded" alt="img" width="190" height="247"></a></div></div><div class="owl-item" style="width: 144px;"><div class="item"><a href="images/gallery10_big.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/gallery10@2x.jpg"><img src="http://app.fiveminutejournal.com/images/gallery10@2x.jpg" class="img-responsive img-rounded" alt="img" width="190" height="247"></a></div></div></div></div>
                        
                        
                        
                        
                        
                        
                        
                        
                        
                    <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div></div>
                </div>
            </div>
            
        </div>
    </section>
    
    -->
    <!--Arrows - single arrow wersion-->

    <!--
    <section class="arrows_box">
        <div class="arrow_single">
            <svg viewBox="0 0 32 32" class="arrow_up" id="gallery_arrow_back">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#left-arrow"></use></svg>
        </div>
    </section>
-->
    <!--######-->
    
    
    <!--###############################-->
    <!--Newsletter and Footer #########-->
    <!--###############################-->
    
    <!--
    <section id="footer">
        <div class="container">
            <div class="row" id="newsletter">
                <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                    
                    <h2>SUBSCRIBE TO OUR NEWSLETTER</h2>
                    <h6>For great resources and upcoming feature launches.
                    </h6>
                    
                    <div id="newsletter_form">
                        <form action="php/send.php" method="post" class="subscribe-form" id="subscribe-form">
                            <input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required="">
                                <button type="submit" class="subscribe-submit">Notify Me</button>
                        </form>
                    </div>
                    <div id="preview"></div>
                    
                </div>
            </div>
           
           <div class="row" id="share">
               <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                   
                   <div id="social_icons">
                       <ul>
                           
                           <li><svg viewBox="0 0 32 32" id="tw_icon" onclick="location.href='http://www.twitter.com/5minutejournal '"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></li>
                           <li><svg viewBox="0 0 32 32" id="fb_icon" onclick="location.href='http://www.facebook.com/fiveminutejournal '"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></li>
                           
                           
                           
                        
                       </ul>
                       
                   </div>

                   
     
               </div>
               <div class="col-sm-4 col-md-4 col-lg-4">
                   <a href="https://itunes.apple.com/us/app/5-min-journal/id822934482?ls=1&amp;mt=8"><img src="http://app.fiveminutejournal.com/images/appstore.png" id="appstore" alt="img"></a>
               </div>
           </div>
           <h6>Copyright 2014 Intelligent Change Inc.</h6>
        </div>
    </section>    
-->
   </body></html>
