<!DOCTYPE html>
<html class="js flexbox flexboxlegacy history cssanimations csstransitions localstorage wf-chaparralpro-i4-active wf-chaparralpro-i7-active wf-chaparralpro-n4-active wf-chaparralpro-n7-active wf-lobster-n4-active wf-proximanova-i4-active wf-proximanova-i6-active wf-proximanova-n3-active wf-proximanova-n4-active wf-proximanova-n6-active wf-active" slick-uniqueid="3"><!--<![endif]--><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>KIP</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="http://getpocket.com/a/c/global.min.css?v=147">

    <!--[if lt IE 9]><style type="text/css">.js #warning-browserincompatible { display: block !important; } </style><![endif]--><style type="text/css">.tk-
<style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style><style type="text/css">.topic_1{background-color:rgb(239,64,86); background-color:rgba(239,64,86,0.9);} .topic_2{background-color:rgb(80,188,182); background-color:rgba(80,188,182,0.9);} </style></head>

<body class="page-queue page-app-en-us"><div id="clickguard" class="clickguard" style="display: none;"></div>

    <div id="container">

        <header id="PKT_header">
            <div class="rainbowDash">
                <div class="orange"></div>
                <div class="orange"></div>
                <div class="orange"></div>
                <div class="orange"></div>
            </div>
        </header>

        <div id="page">

            <noscript>
                &lt;p style="margin-top: 250px;margin-bottom:10px;"&gt;
                    Javascript is disabled in your browser. You are missing out.
                &lt;/p&gt;
                &lt;p style="margin-bottom: 250px;"&gt;
                    Enable javascript to use Pocket on the web.
                &lt;/p&gt;
            </noscript>

            <nav class="pkt-nav">
            <div class="toolbar_queue navigationItem wrapper active">
    <div class="wrapper_searchtag rightItem">
        <div id="pagenav_searchicon">
            <a class="hint-item" data-intro="Search" data-position="bottom" href="#">Search</a>
        </div>
        <div class="wrapper_tag" data-intro="Tag Filter" data-position="bottomlower">
            <div class="tag_name"></div>
            <a class="tag_clear" href="/a/queue/list/" title="Clear Tag Selection">Clear Tag Selection</a>
        <div id="pagenav_tagfilter" class="dropSelector titleItem titleSelector" style="display: block;"><a class="all hint-item"><span class="itemtext">All Items</span><span class="edittag"></span><span class="deletetag"></span></a><div class="popover-new popover-new-bottomleft"><div class="arrow"></div><ul><li val="all"><a href="/a/queue/list/">All Items</a></li><li val="untagged"><a href="/a/queue/list/_untagged_">Untagged Items</a></li><li val="hci"><a href="/a/queue/list/hci">hci</a></li><li val="nuweb"><a href="/a/queue/list/nuweb">nuweb</a></li><li val="testing"><a href="/a/queue/list/testing">testing</a></li></ul></div></div></div>
    </div>
</div><div class="searchtoolbar_screenbar"></div>
<div class="searchtoolbar_queue navigationItem wrapper">
    <ul class="icons leftItem">
        <li><h2>Search</h2></li>
    </ul>
    <ul class="icons rightItem">
        <li id="searchnav_sortby" class="searchnav-sortby-relevancy">
            <a class="hint-item" title="Sort results by" href="#">Sort results by</a>
        </li>
        <li class="section-filter section-filter-disabled">
            <div class="section-filter-value hint-item" title="Search Options">All Items</div>
            <ul class="section-filter-options">
                <li><a class="mylist" href="#">My List</a></li>
                <li><a class="archive" href="#">Archive</a></li>
            </ul>
        </li>
        <li class="wrapper_search clearfix" data-intro="Search" data-position="bottom">
            <div class="search-input-wrapper">
                <ul class="search-input-list">
                    <li class="search-input">
                        <input id="page_search" type="text" placeholder="Search" maxlength="100">
                    </li>
                </ul>
            </div>
            <ul class="search-instr-recent">
                <li class="instructions instructions-basic">Search by Title or URL.</li>
            </ul>
        </li>
        <li id="search_close">
            <a href="#">Close</a>
        </li>
    </ul>
</div></nav>
            <div class="notifications-error clearfix">
                <div class="content">
                    <p class="message"></p>
                </div>
            </div>
            <div class="notifications-sync clearfix">
                <div class="content clearfix">
                    <div class="progress-bar">
                        <div class="progress-bar-content progress-bar-zeroed"></div>
                    </div>
                    <p class="message"></p>
                </div>
            </div>
            <div class="container-bulkedit clearfix">
                <div class="bulkedit-content clearfix">
                    <div class="bulkedit-status"><p></p></div>
                    <div class="bulkedit-actions"><ul>
    <li class="bulkedit-archive"><a title="Archive" href="#">Archive</a></li>
    <li class="bulkedit-favorite"><a title="Favorite" href="#">Favorite</a></li>
    <li class="bulkedit-delete"><a title="Delete" href="#">Delete</a></li>
    <li class="bulkedit-addtag"><a title="Add Tag" href="#">Add Tag</a></li>
</ul></div>
                    <a class="bulkedit-cancel" href="#"></a>
                </div>
            </div>
            <div id="content">
            <div id="page_queue" class="wrapper tag_sidebar_holder list active"><div id="queue_list_wrapper" class=""><ul id="queue" class="queue_list">
    



<% for(var i=0; i< message.length; i++) {%>
   <li class="item" id="i838748780">
    <span class="inner">
        <a class="link start_webview" href=' <%= url[i] %> ' target="_blank">
            <span class="title"><span> "<%= message[i] %>" </span></span>
        </a>
        <span class="thumb lazy-active" variant="4" style="background-image: url(http://getpocket.com/a/i/tile_fallback@1x.jpg); background-size: 844px 591px; background-repeat: repeat;"></span>
    <ul class="sub clearfix">
    <li class="tags hasTags">
        <span class="tag_container"><a class="tag" href="/a/queue/list/hci"> <%= from[i] %> </a></span>
        <a class="edit"><span>Add Tag</span></a>
    </li>
</ul>
<div class="clear"></div></span>
    
<ul class="buttons">
    <li class="action_share" title="Share"><a href="#">Share</a></li>
    <li class="action_mark" title="Archive"><a href="#">Archive</a></li>
    <li class="action_delete" title="Delete"><a href="#">Delete</a></li>
    <li class="action_tag" title="Edit tags"><a href="#">Edit tags</a></li>
    <li class="action_favorite " title="Favorite"><a href="#">Favorite</a></li>
</ul></li>
<div class="clear"></div></span>
<% } %>





<div class="clear"></div></span>
    
</li><li class="info-loading" style="display: none;"></li></ul><div id="queue_empty"><h3><img src="/a/i/icon_m_tag.png" class="img-tag">Not tagged</h3><p>No items in your My List  have been tagged with <em>a</em>.</p></div></div><div class="clear"></div></div></div>

            <footer>
                <div class="wrapper">
                </div>
            </footer>

        <div class="searchtoolbar_screen"></div></div>

    </div>
    
    
    <script src="/a/j/global.min.js?v=147"></script>
        <!--app-->
      

<div class="hint hint-bottom" style="left: 1085px; top: 55px;">Search</div></body></html>