
<!DOCTYPE html>
<html>
	<head>
	    <title>TINCAN</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <!-- CSS Files comes here -->
	    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	    <link href="/stylesheets/kip.css" rel="stylesheet">
	    <link href="/stylesheets/vertical-timeline-style.css" rel="stylesheet" >
	    <script type="text/javascript" src="/javascripts/jquery.js"></script> 
	    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script> 
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60206441-1', 'auto');
  ga('send', 'pageview');

</script>
	</head>
	<body>
		<!--###############################-->
	    <!--NAVIGATION ####################-->
	    <!--###############################-->
	    <nav class="navbar navbar-default navbar-fixed-top">
	      	<div class="container">
		      	<div class="row">
			      	<div class="navbar-header">
				        <a class="navbar-brand" href="#">Make Room</a>          
			        </div>
			        <div id="navbar" class="navbar-collapse collapse">
				        <form class="navbar-form navbar-right">
					        <button type="submit" class="btn btn-success"  action="/logout" method="post">Sign Out</button>
				        </form>
			        </div><!--/.navbar-collapse -->
			    </div>
		<div class="row">
			    	<ul class="nav nav-pills">
					  <li role="presentation" ><a href="/home">Home</a></li>
					  <li role="presentation"><a href="/friends">Friends</a></li>
					<li role="presentation" ><a href="/saved">Loved</a></li>
					<li role="presentation" ><a href="/sent">Sent</a></li>
					</ul>
			    </div>
	    	</div>
	    </nav>
	    <!--###############################-->
	    <!--TIMELINE   ####################-->
	    <!--###############################-->
	    <section id="cd-timeline" class="cd-container">

		<% for(var i=0; i< message.length; i++) { %>
			
			
			<div class="cd-timeline-block">			
				<div class="cd-timeline-img cd-picture">
					<img src="/images/cd-icon-picture.svg" alt="Picture">
				</div> <!-- cd-timeline-img -->

				<div class="cd-timeline-content">
		 			<h2> <%=title[i]%> </h2> 
					<p> <%=message[i]%> </p>
					<a href="#0" class="cd-read-more">Read more</a>
					<span class="cd-date">Jan 14</span>
				</div> <!-- cd-timeline-content -->
			</div> 


			<% }%>


<!-- cd-timeline-block -->
			
		</section> <!-- cd-timeline -->
	</body>
</html>












